<nav>
    <div class="site-title">
        
        <a href="/"><h1>Bouchées Suaves</h1></a>
        <p>BIENVENUE</p>
    </div>

    <ul>
        <li><a href="/">VOS AVIS</a></li>
        <li><a href="/about">ABOUT US</a></li>
        <li><a href="/blogs/create">CONTACTEZ NOUS</a></li>
    </ul>
</nav>