<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

<div class="blog content">
    <h2>About us</h2>
    <p> comment faire pour ne plus bruler les etapes</p>
    <p>parfois l objectif d un challenge quelconque soit si simple ou parait simple que le candidat ait hate a repondre sans pour autant donner importance au planning et introduction et grands lignes du projet </p>
    <p> aussi grandiose quelle soit paraport au result finale donne envie de bruler tous ces introductions</p>
    <p>d un point de vue logique et fonctionnel cette atitude pourait etre vrai ou bien correcte mais personne ne peut ecarter l importance du planning et du savoir faire </p>
    <p>et si on inverse</p>
</div>

<%- include('./partials/footer.ejs') %>
</body>
</html>